* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "KaiTi", serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

#schoollogo {
  position: fixed;
  right: 0;
  bottom: 1;
  z-index: 1;
}

#title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: Ma Shan Zheng;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(180deg, #731919, #e52b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: ZCOOL XiaoWei;
  color: #5a2a00;
}

#startbutton {
  padding: 0.5cm;
  font-family: 'Ma Shan Zheng', sans-serif;
  font-size: 50px;
  text-align: center;
  border: 3px solid gray;
  background: #e63946;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 130px;
  left: 45%;
  transform: 0.25s ease-out;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
  outline: orange;
}

#startbutton:hover {
  background-color: darkred;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.08)
}

#lantern {
  position: absolute;
  top: -5%;
  left: 82%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
}

#fanup {
  position: absolute;
  top: 40%;
  left: 93%;
  transform: translateX(-50%);
  width: 700px;
  height: auto;
}

#fandown {
  position: absolute;
  top: -37%;
  left: 5%;
  transform: translateX(-50%);
  width: 700px;
  height: auto;
}

#flower {
  position: absolute;
  top: 70%;
  left: 11%;
  transform: translateX(-50%);
  width: 600px;
  height: auto;
}

#titlebg {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  height: auto;
  z-index: -1;
}

#lines {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 1535px;
  height: auto;
  z-index: -1;
}

#thank {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: Ma Shan Zheng;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(180deg, #731919, #e52b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#restartbutton {
  padding: 0.5cm;
  font-family: 'Ma Shan Zheng', sans-serif;
  font-size: 50px;
  text-align: center;
  border: 3px solid gray;
  background: #e63946;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 130px;
  left: 41.5%;
  transform: 0.25s ease-out;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  -webkit-text-stroke: 1px white;
  text-decoration: none;
  outline: orange;
}

#restartbutton:hover {
  background-color: darkred;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.08)
}